* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  padding-left: 35px;
}

body {
  background: white;
  background-size: 36px 36px;

  box-sizing: border-box;

  width: 100%;
}

header {
  background: white;
  padding-top: 64px;
  padding-bottom: 80px;
  width: 100%;
}

.wrapper{
  display: flex;
}

.header_text {
  display: inline-block;
  margin-left: 598px;

}

.header_icon{
  display: inline-block;
  padding-left: 158px;
  align-items: flex-end;
}

span {
  padding-right: 24px;
  font-size: 18px;
}

.header_banner {
  padding-bottom: 24px;
}


p {
  color: black;
}

main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

main .main-shop p {
  text-align: center;
  font-size: 35px;

  padding-top: 20px;
}

.main-shop {
  border-radius: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 120px;
  color: black;
}


#p1_main{
  border-bottom: 1px solid black;
  border-bottom-color:#87888C;
  color:#87888C;
}

#p2_main{
  border-bottom: 1px solid black;
  border-bottom-color:#87888C;
  color:#87888C;
}
container_1 p{
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  margin-bottom: 97px;
}
.cont_img{
  display: flex;
  justify-content:center ;
  margin-bottom: 30px;
}

.cont_img a{
  margin-right: 55px;
}

.cont_img arrows{

}