* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  padding-left: 35px;
}

body {
  background: white;
  background-size: 36px 36px;

  box-sizing: border-box;

  width: 100%;
}

header {
  background: white;
  margin-bottom: 65px;
  padding-top: 64px;
  padding-bottom: 80px;
  width: 100%;
}


.header_text {
  display: flex;
  margin-left: 598px;

}

span {
  padding-right: 24px;
  font-size: 18px;
}

.header_banner {
  padding-bottom: 24px;
}


p {
  color: black;
}

main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

main .main-shop p {
  text-align: center;
  font-size: 35px;
  border-top: 3px solid black;
  padding-top: 20px;
}

.main-shop {
  background: rgba(312, 331, 321, 0.6);
  border-radius: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 120px;
  color: black;
}

.main-shop img {
  background-color: rgba(red, green, blue, alpha);
  margin-bottom: 20px;
}

.main-shop a {
  background-color: rgba(red, green, blue, alpha);
}