@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  padding-left: 35px;
}

body {
  background: white;
  background-size: 36px 36px;

  box-sizing: border-box;

  width: 100%;
}

.header {
  background: white;
  padding-top: 64px;
  padding-bottom: 80px;
  width: 100%;
}

.wrapper{
  display: flex;
}

.header_text {
  display: inline-block;
  margin-left: 498px;

}

.header_icon{
  display: inline-block;
  padding-left: 158px;
  align-items: flex-end;
}

span {
  padding-right: 24px;
  font-size: 18px;
}

.header_banner {
  padding-bottom: 24px;
}


p {
  color: black;
}

main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

main .main-shop p {
  text-align: center;
  font-size: 35px;

  padding-top: 20px;
}

.main-shop {
  border-radius: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 120px;
  color: black;
}


#p1_main{
  border-bottom: 1px solid black;
  border-bottom-color:#87888C;
  color:#87888C;
}

#p2_main{
  border-bottom: 1px solid black;
  border-bottom-color:#87888C;
  color:#87888C;
}


container_1 p{
  text-align: center;
  font-weight: 400;
  font-size: 17px;
  line-height: 38px;
  margin-bottom: 97px;
}
.cont_img{
  width: 100%;
  display: flex;
  justify-content:center ;
  margin-bottom: 30px;
  align-items: center;
}

.cont_img a{
  margin-right: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: black;
    margin-bottom: 33px;
}




.cont_img a h3 p{
  font-size: 17px;
}




container_2 p{
  text-align: center;
  font-weight: 400;
  font-size: 17px;
  line-height: 38px;
  margin-bottom: 97px;
}
.cont_img2{
  width: 100%;
  display: flex;
  justify-content:center ;
  margin-bottom: 30px;
  align-items: center;
}

.cont_img2 a{
  margin-right: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: black;
    margin-bottom: 33px;
}




.cont_img2 a h3 p{
  font-size: 17px;
}

container_3 p{
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  margin-bottom: 97px;

}
.cont_img3{
  width: 100%;
  display: flex;
  justify-content:center ;
  margin-bottom: 30px;
  align-items: center;
}

.cont_img3 a{
  margin-right: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: black;
    margin-bottom: 33px;
}




.cont_img3 a h3 p{
  font-size: 17px;
}

container_4 p{
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  margin-bottom: 97px;
  padding-top: 110px;
}

.cont_4 {
  width: 55%;
  margin: 2rem auto; 
}
 
.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 1.5rem; 
}
 
.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
}
 
.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3
}
 
.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}
 
.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}
 
.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}
 
.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;
}
 
.gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
}

.info{
  background-color: gray;
}



.block {
  padding: 0 114px;
  padding-top: 55px;
  display: flex;
  justify-content: space-between;
  background-color: #E8E8E8;
}



.left-col {
  margin-right: 228px;

}

.right-col {
  margin-left: 228px;

}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 24px;
}

button {
  background-color: orange;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
}

.input-field {
  margin-bottom: 24px;
  margin-right: 60px;
}

input {
  width: 50%;

  font-size: 16px;
  border: 2px solid orange;
  border-radius: 4px;
}

.text{
  background: #E8E8E8;
  margin-bottom: 60px;
}

.footer_block{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
  padding-right: 60;
}
.footer{
	background-color: white;
    padding: 26px ;

}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #333333;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
  padding-left: 35px;

}

.footer-col ul{
  padding-right: 50px;
}

.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #333333;
	font-weight: 300;
	color: #333333;
	display: block;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: black;
	transition: all 0.5s ease;
}


